* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  min-height: 100vh;
}
.gb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  background-color: #fff;
}
h2 {
  text-align: center;
}
form div {
  margin: 30px;
}
.bt {
  margin-left: 50px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}
form div input {
  height: 25px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}
