* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.bg {
  background-color: #fff;
}
.table tr th {
  padding: 20px;
  width: 150px;
  text-align: center;
  border: 1px solid #000;
}
.table tr td {
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
  width: 150px;
}
.btn {
  margin: 10px;
  font-size: 1.1rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
